# .env.example
DB_USER=
DB_PASSWORD=
DB_URL=
DB_NAME=


EXTERNAL_API_REPLAY_MODE=

SCHEDULER_LIVE_POLL_ENABLED=

ODDS_ELO_SCALE=
ODDS_DRAW_FACTOR=
ODDS_MAX_H2H_WEIGHT=
ODDS_MIN_ODD=
ODDS_H2H_MATCH_LIMIT=
ODDS_AVG_GOALS_PER_SIDE=
ODDS_ELO_LAMBDA_ALPHA=
ODDS_HIST_LAMBDA_THRESHOLD=
ODDS_MAX_HIST_LAMBDA_WEIGHT=
ODDS_EXACT_SCORE_TOP_N=

API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=

RAPIDAPI_KEY=
RAPIDAPI_KEY2=

GAMEFORECAST_BASE_URL=